sourceDir = "~/.local/share/chezmoi-work"

[diff]
    exclude = ["scripts"]

[bitwarden]
    unlock = "auto"

[data]
    # work_email and work_name come from 1Password (personal handles identity)
    # Other work-specific template variables go here

{{/*
vim:ft=gotexttmpl:
*/}}
